<div class="w-full h-full">
    <div class="flex items-center justify-center">
        <div class="flex flex-row items-center text-2xl mt-10 w-full h-full px-20">
            <div class="w-full h-full">
                <a href="/"><h1>Portfolio</h1></a>
            </div>
            <div class="flex space-x-10 w-full h-full items-center justify-center">
                <a href=""><h3>A propos</h3></a>
                <a href=""><h3>Projets</h3></a>
                <a href=""><h3>Compétences</h3></a>
            </div>
        </div>
    </div>
</div>